In [1]:
import pandas as pd
from os import path
from collections import Counter
import re

In [96]:
df_corpus = pd.read_csv('corpus.csv')

In [92]:
#df_corpus.drop(["canon"], axis = 1, inplace=True)

In [97]:
df_corpus

,date,auteur,titre,fabula
0,1811,françois rene de chateaubriand,oeuvres completes,True
1,1812,paul de kock,l enfant de ma femme,False
2,1815,sophie gay,anatole,False
3,1815,sophie gay,anatole,False
4,1816,hadot marie adelaide barthelemy,la vierge de l indostan ou les portugais au ma...,False
...,...,...,...,...
2956,2018,pascal quignard,l enfant d ingolstadt,True
2957,2019,christelle dabos,la passe miroir,False
2958,2019,marie aude murail,sauveur fils,False
2959,2020,clementine melois,dehors la tempete,False
2960,2020,vanessa springora,le consentement,False

In [83]:
titres = list(df_corpus['titre'])

In [85]:
df_meta_data = pd.read_csv('meta_data_canons.csv')

In [98]:
def canonique(df_corpus, df_meta_data):
    canon = []
    for index, row in df_corpus.iterrows():
        if row['titre'] in list(df_meta_data['bac']) or row['titre'] in list(df_meta_data['brevet']) or row['titre'] in list(df_meta_data['sup']) or row['titre'] in list(df_meta_data['prix']) or row['titre'] in list(df_meta_data['gf']) or row['titre'] in list(df_meta_data['gouv']):
            #print(row['titre'])
            canon.append('canon')
        else:
            canon.append('non_canon')
    df_corpus["canon"] = canon
    return df_corpus

In [99]:
 df_corpus_updated = canonique(df_corpus, df_meta_data)

In [100]:
df_corpus_updated

,date,auteur,titre,fabula,canon
0,1811,françois rene de chateaubriand,oeuvres completes,True,canon
1,1812,paul de kock,l enfant de ma femme,False,non_canon
2,1815,sophie gay,anatole,False,non_canon
3,1815,sophie gay,anatole,False,non_canon
4,1816,hadot marie adelaide barthelemy,la vierge de l indostan ou les portugais au ma...,False,non_canon
...,...,...,...,...,...
2956,2018,pascal quignard,l enfant d ingolstadt,True,non_canon
2957,2019,christelle dabos,la passe miroir,False,non_canon
2958,2019,marie aude murail,sauveur fils,False,non_canon
2959,2020,clementine melois,dehors la tempete,False,non_canon
2960,2020,vanessa springora,le consentement,False,non_canon

In [90]:
df_corpus_updated['canon'].value_counts()

non_canon    2700
canon         261
Name: canon, dtype: int64

In [71]:
df_corpus_updated['canon'].value_counts()

non_canon    2724
canon         239
Name: canon, dtype: int64

In [101]:
df_corpus_updated.to_csv(r'corpus_canons.csv', index = False, header=True)

In [106]:
df_only_canon = df_corpus_updated[df_corpus_updated['canon'] == 'canon']

In [104]:
df_only_canon.to_csv(r'only_canon.csv', index = False, header=True)

In [107]:
auteur = df_only_canon['auteur'].value_counts().index.to_list()

In [108]:
nb_romans = df_only_canon["auteur"].value_counts().to_list()

In [112]:
df_only_canon = pd.read_csv('only_canon.csv')

In [116]:
df_only_canon['sexe'].value_counts()

m     222
f      38
mf      1
Name: sexe, dtype: int64

In [115]:
df_only_canon['sexe'].value_counts(normalize=True)*100

m     85.057471
f     14.559387
mf     0.383142
Name: sexe, dtype: float64

In [109]:
auteurs_canoniques = pd.DataFrame(list(zip(auteur, nb_romans)), columns = ['auteur', "nb_romans"])

In [110]:
auteurs_canoniques.to_csv(r'auteur_canon.csv', index = False, header=True)