In [1]:
import pandas as pd
from os import path
from collections import Counter
import re

C:\Users\jeanb\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\jeanb\anaconda3\lib\site-packages\numpy\.libs\libopenblas.EL2C6PLE4ZYW3ECEVIV3OXXGRN2NRFM2.gfortran-win_amd64.dll
C:\Users\jeanb\anaconda3\lib\site-packages\numpy\.libs\libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_amd64.dll
C:\Users\jeanb\anaconda3\lib\site-packages\numpy\.libs\libopenblas.XWYDX2IKJW2NMTWSFYNGFUWKQU3LYTCZ.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [96]:
df_corpus = pd.read_csv('corpus.csv')

In [92]:
#df_corpus.drop(["canon"], axis = 1, inplace=True)

In [97]:
df_corpus

,date,auteur,titre,fabula
0,1811,françois rene de chateaubriand,oeuvres completes,True
1,1812,paul de kock,l enfant de ma femme,False
2,1815,sophie gay,anatole,False
3,1815,sophie gay,anatole,False
4,1816,hadot marie adelaide barthelemy,la vierge de l indostan ou les portugais au ma...,False
...,...,...,...,...
2956,2018,pascal quignard,l enfant d ingolstadt,True
2957,2019,christelle dabos,la passe miroir,False
2958,2019,marie aude murail,sauveur fils,False
2959,2020,clementine melois,dehors la tempete,False
2960,2020,vanessa springora,le consentement,False

In [83]:
titres = list(df_corpus['titre'])

In [85]:
df_meta_data = pd.read_csv('meta_data_canons.csv')

In [98]:
def canonique(df_corpus, df_meta_data):
    canon = []
    for index, row in df_corpus.iterrows():
        if row['titre'] in list(df_meta_data['bac']) or row['titre'] in list(df_meta_data['brevet']) or row['titre'] in list(df_meta_data['sup']) or row['titre'] in list(df_meta_data['prix']) or row['titre'] in list(df_meta_data['gf']) or row['titre'] in list(df_meta_data['gouv']):
            #print(row['titre'])
            canon.append('canon')
        else:
            canon.append('non_canon')
    df_corpus["canon"] = canon
    return df_corpus

In [99]:
 df_corpus_updated = canonique(df_corpus, df_meta_data)

In [100]:
df_corpus_updated

,date,auteur,titre,fabula,canon
0,1811,françois rene de chateaubriand,oeuvres completes,True,canon
1,1812,paul de kock,l enfant de ma femme,False,non_canon
2,1815,sophie gay,anatole,False,non_canon
3,1815,sophie gay,anatole,False,non_canon
4,1816,hadot marie adelaide barthelemy,la vierge de l indostan ou les portugais au ma...,False,non_canon
...,...,...,...,...,...
2956,2018,pascal quignard,l enfant d ingolstadt,True,non_canon
2957,2019,christelle dabos,la passe miroir,False,non_canon
2958,2019,marie aude murail,sauveur fils,False,non_canon
2959,2020,clementine melois,dehors la tempete,False,non_canon
2960,2020,vanessa springora,le consentement,False,non_canon

In [90]:
df_corpus_updated['canon'].value_counts()

non_canon    2700
canon         261
Name: canon, dtype: int64

In [71]:
df_corpus_updated['canon'].value_counts()

non_canon    2724
canon         239
Name: canon, dtype: int64

In [101]:
df_corpus_updated.to_csv(r'corpus_canons.csv', index = False, header=True)

In [106]:
df_only_canon = df_corpus_updated[df_corpus_updated['canon'] == 'canon']

In [104]:
df_only_canon.to_csv(r'only_canon.csv', index = False, header=True)

In [107]:
auteur = df_only_canon['auteur'].value_counts().index.to_list()

In [108]:
nb_romans = df_only_canon["auteur"].value_counts().to_list()

In [112]:
df_only_canon = pd.read_csv('only_canon.csv')

In [116]:
df_only_canon['sexe'].value_counts()

m     222
f      38
mf      1
Name: sexe, dtype: int64

In [115]:
df_only_canon['sexe'].value_counts(normalize=True)*100

m     85.057471
f     14.559387
mf     0.383142
Name: sexe, dtype: float64

In [109]:
auteurs_canoniques = pd.DataFrame(list(zip(auteur, nb_romans)), columns = ['auteur', "nb_romans"])

In [110]:
auteurs_canoniques.to_csv(r'auteur_canon.csv', index = False, header=True)

In [7]:
df_corpus = pd.read_csv('../metadata/corpus.csv')
df_meta_data = pd.read_csv('../metadata/meta_data_canons.csv')
auteur_canon = pd.read_csv('../metadata/auteur_canon.csv')
only_canon = pd.read_csv('../metadata/only_canon.csv')

In [5]:
auteur_canon

                auteur  nb_romans
0     honore de balzac         19
1           emile zola         17
2       romain rolland         10
3    de maupassant guy         10
4      alexandre dumas          8
..                 ...        ...
125   catherine cusset          1
126       annie ernaux          1
127       alice ferney          1
128  chatrian erckmann          1
129     paule constant          1

[130 rows x 2 columns]

In [18]:
df_corpus

,date,auteur,titre,fabula
0,1811,françois rene de chateaubriand,oeuvres completes,True
1,1812,paul de kock,l enfant de ma femme,False
2,1815,sophie gay,anatole,False
3,1815,sophie gay,anatole,False
4,1816,hadot marie adelaide barthelemy,la vierge de l indostan ou les portugais au ma...,False
...,...,...,...,...
2956,2018,pascal quignard,l enfant d ingolstadt,True
2957,2019,christelle dabos,la passe miroir,False
2958,2019,marie aude murail,sauveur fils,False
2959,2020,clementine melois,dehors la tempete,False
2960,2020,vanessa springora,le consentement,False

In [4]:
df_meta_data

,bac,brevet,lm,sup,prix,gf,pleiade,gouv
0,clair de lune,le dormeur éveillé,martin luther,lais,le bonheur fragile,la fin de cheri,jean paul sartre,journal d'un poète
1,"""le mendiant""",35 kilos d'espoir,germaine de stael holstein,l’adolescence clémentine,les bles,typhon,louis ferdinand celine,le songe d'une nuit d'été
2,sept poemes d'amour en guerre,un certain jeune homme,benjamin constant,le roman comique,les corrompus,le bossu,françois de la rochefoucauld,les trophées
3,l'or,poisson d'or,etienne pivert de senancour,la dispute / la fausse suivante / la double in...,assam,david copperfield,aristophane,thérèse raquin
4,le chien jaune,préface du catalogue marc chagall – recent pai...,françois rene de chateaubriand,le cousin pons,histoire d un fait divers,la curee,charles dickens,l'homme qui rit
...,...,...,...,...,...,...,...,...
646,NaN,NaN,NaN,NaN,la table aux creves,NaN,NaN,NaN
647,NaN,NaN,NaN,NaN,un secret,NaN,NaN,NaN
648,NaN,NaN,NaN,NaN,le carrefour des solitudes,NaN,NaN,NaN
649,NaN,NaN,NaN,NaN,l imprecateur,NaN,NaN,NaN
650,NaN,NaN,NaN,NaN,la comedie de terracina,NaN,NaN,NaN

si auteur et roman dans au moins 50% des listes return 5
si auteur et roman dans au moins une liste return 4
si auteur mais roman dans aucune liste return 3
si pas auteur mais roman dans au moins 50% des listes return 2
si pas auteur mais roman dans 1 liste  return 1 
si ni auteur ni roman return 0

In [27]:
def canonicity_rate_v1(df_corpus, df_metadata):
    list_canonicity = []
    for i in range(0, len(df_corpus.index)):
        auteur = df_corpus.iloc[i].auteur
        titre = df_corpus.iloc[i].titre
        if df_corpus.iloc[i].fabula == True or auteur in df_metadata['lm'] or auteur in df_metadata['pleiade']:
            if taux_appartenance_liste(titre, df_metadata) > 0.5:
                list_canonicity.append(5)
            elif taux_appartenance_liste(titre, df_metadata) > 0:
                list_canonicity.append(4)
            else:
                list_canonicity.append(3)
        elif taux_appartenance_liste(titre, df_metadata) > 0.5:
            list_canonicity.append(2)
        elif taux_appartenance_liste(titre, df_metadata) > 0:    
            list_canonicity.append(1)
        else:
            list_canonicity.append(0)
    return list_canonicity

In [23]:
def taux_appartenance_liste(titre, df_metadata):
    nb_presence = 0
    nb_presence += titre_in_list(titre, list(df_metadata.bac))
    nb_presence += titre_in_list(titre, list(df_metadata.brevet))
    nb_presence += titre_in_list(titre, list(df_metadata.gf))
    nb_presence += titre_in_list(titre, list(df_metadata.sup))
    nb_presence += titre_in_list(titre, list(df_metadata.gouv))
    nb_presence += titre_in_list(titre, list(df_metadata.prix))
    return nb_presence*/6

In [25]:
def titre_in_list(titre, liste):
    if titre in liste:
        return 1
    else:
        return 0

In [28]:
list_canonicity_v1 = canonicity_rate_v1(df_corpus, df_meta_data)

In [38]:
len(list_canonicity_v1)

2961

In [39]:
df_corpus["canonicity_1"] = list_canonicity_v1

In [ ]:
si roman dans sup --> 3
si roman dans brevet ou bac ou gf --> 2
si roman dans prix ou gouv --> 1
sinon --> 0

In [ ]:
si auteur dans lm ou pleiade ou fabula --> 3
sinon --> 0

In [34]:
def canonicity_rate_v2(df_corpus, df_metadata):
    list_canonicity = []
    for i in range(0, len(df_corpus.index)):
        taux_temp = 0
        auteur = df_corpus.iloc[i].auteur
        titre = df_corpus.iloc[i].titre
        if titre_in_list(titre, list(df_metadata.sup)):
            taux_temp+=3
        if titre_in_list(titre, list(df_metadata.bac)) or titre_in_list(titre, list(df_metadata.brevet)) or titre_in_list(titre, list(df_metadata.gf)):
            taux_temp+=2
        if titre_in_list(titre, list(df_metadata.prix)) or titre_in_list(titre, list(df_metadata.gouv)):
            taux_temp+=1
        if titre_in_list(auteur, list(df_metadata.lm)) or titre_in_list(auteur, list(df_metadata.pleiade)) or df_corpus.iloc[i].fabula == True:
            taux_temp+=3       
        list_canonicity.append(taux_temp)
    return list_canonicity

In [35]:
list_canonicity_v2 = canonicity_rate_v2(df_corpus, df_meta_data)

In [37]:
len(list_canonicity_v2)

2961

In [40]:
df_corpus["canonicity_2"] = list_canonicity_v2

In [45]:
df_corpus.to_csv(r'../metadata/df_corpus_rate_canonicity.csv', index = False, header=True)

In [44]:
df_corpus['canonicity_1'].value_counts(normalize=True)

0    0.593381
3    0.318473
5    0.071260
2    0.016886
Name: canonicity_1, dtype: float64

In [75]:
df_corpus['canonicity_2'].value_counts(normalize=True)

0    0.587302
3    0.325566
5    0.042215
4    0.018575
1    0.009119
6    0.007768
2    0.005741
8    0.002364
9    0.001013
7    0.000338
Name: canonicity_2, dtype: float64

In [74]:
df_corpus['fabula'].value_counts(normalize=True)

False    0.610267
True     0.389733
Name: fabula, dtype: float64

In [70]:
test = df_corpus[df_corpus['canonicity_2']==0]

In [71]:
test

,date,auteur,titre,fabula,canonicity_1,canonicity_2
1,1812,paul de kock,l enfant de ma femme,False,0,0
2,1815,sophie gay,anatole,False,0,0
3,1815,sophie gay,anatole,False,0,0
4,1816,hadot marie adelaide barthelemy,la vierge de l indostan ou les portugais au ma...,False,0,0
5,1816,hadot marie adelaide barthelemy,la vierge de l indostan ou les portugais au ma...,False,0,0
...,...,...,...,...,...,...
2955,2018,marie aude murail,en nous beaucoup d hommes respirent,False,0,0
2957,2019,christelle dabos,la passe miroir,False,0,0
2958,2019,marie aude murail,sauveur fils,False,0,0
2959,2020,clementine melois,dehors la tempete,False,0,0
2960,2020,vanessa springora,le consentement,False,0,0